body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

section {
  padding: 70px 20px;
  max-width: 900px;
  margin: auto;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

h3 {
  color: #e2e8f0;
}

#hero {
  text-align: center;
  padding-top: 100px;
}

ul {
  padding-left: 20px;
}

/* PROJECT CARDS */

#projects h3 {
  margin-top: 30px;
}

#projects p {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-top: 5px;
}

/* CONTACT LINKS */

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.contact-links {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.contact-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1e293b;
  padding: 12px 18px;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: 500;
}

.contact-links a:hover {
  background: #38bdf8;
  color: black;
}

.contact-links i {
  font-size: 18px;
}

/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: #020617;
  border-bottom: 1px solid #1e293b;
  z-index: 1000;
}

.nav-container {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  color: #38bdf8;
  margin: 0;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  position: relative;
  padding-left: 25px;
}

.nav-links a:not(:first-child)::before {
  content: "|";
  position: absolute;
  left: 0;
  color: #475569;
}
.nav-links a:hover {
  color: #38bdf8;
  transform: translateY(-1px);
}
/* prevents content hiding under navbar */
body {
  padding-top: 80px;
}

html {
  scroll-behavior: smooth;
}



