body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

section {
  padding: 90px 20px;
  max-width: 950px;
  margin: auto;
}

section h2 {
  text-align: center;
  margin-bottom: 40px;
}


h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

h3 {
  color: #e2e8f0;
}

p {
  color: #cbd5f5;
}

ul li {
  margin-bottom: 8px;
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}


/* HERO SECTION */

#hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content h2 {
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-content p {
  max-width: 600px;
  margin: auto;
  color: #cbd5f5;
}

/* HERO BUTTONS */

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.hero-buttons a {
  background: #38bdf8;
  color: black;
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.hero-buttons a:hover {
  transform: translateY(-2px);
}



/* PROJECT GRID */
.badge {
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  color: #7c3aed;
  margin-bottom: 6px;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}



/* PROJECT CARD */

.project-card {
  background: #1e293b;
  padding: 22px;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0 0 0 transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.project-card h3 {
  margin-top: 0;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
}

#projects p {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-top: 5px;
}

.project-links {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}


/* CONTACT LINKS */

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contact-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1e293b;
  padding: 12px 18px;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: 500;
  color: inherit;
  transition: transform 0.2s ease;
}

.contact-links a:hover {
  background: #38bdf8;
  color: black;
  transform: scale(1.2);
}

.contact-links i {
  font-size: 18px;
}

.contact-links {
  display: flex;
  gap: 25px;
  margin-top: 15px;
  justify-content: center;
  flex-wrap: wrap;font-size: 1.8rem;
  
}
#contact {
  text-align: center;      
}

/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: #020617;
  border-bottom: 1px solid #1e293b;
  z-index: 1000;
}

.nav-container {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  color: #38bdf8;
  margin: 0;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  position: relative;
  padding-left: 25px;
}

.nav-links a:not(:first-child)::before {
  content: "|";
  position: absolute;
  left: 0;
  color: #475569;
}
.nav-links a:hover {
  color: #38bdf8;
  transform: translateY(-1px);
}

/* prevents content hiding under navbar */
body {
  padding-top: 80px;
}

html {
  scroll-behavior: smooth;
}



